<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/poster/style.css" rel="stylesheet" />
</head>
<body>
    <audio controls="controls" autoplay loop style="display: none;">
        <source src="~/music/happy.mp3" type="audio/mpeg" />
    </audio>
    <div class="wrapper">
        <div class="formInput">

            <div class="boxHands">
                <div class="handsCat">
                    <img src="~/images/handsCat.png" alt="">
                </div>
                <h1>30 - 11</h1>
            </div>
            <div class="boxSlider">
                <div class="listSlider">
                    <div class="slider">
                        <img src="~/images/love/1.jpg" />
                    </div>
                    <div class="slider">
                        <img src="~/images/love/2.jpg" />
                    </div>
                    <div class="slider">
                        <img src="~/images/love/3.jpg" />
                    </div>
                    <div class="slider">
                        <img src="~/images/love/4.jpg" />
                    </div>
                    <div class="slider">
                        <img src="~/images/love/5.jpg" />
                    </div>
                    <div class="slider">
                        <img src="~/images/love/6.jpg" />
                    </div>
                    <div class="slider">
                        <img src="~/images/love/7.jpg" />
                    </div>
                    <div class="slider">
                        <img src="~/images/love/8.jpg" />
                    </div>
                    <div class="slider">
                        <img src="~/images/love/9.jpg" />
                    </div>
                    <div class="slider">
                        <img src="~/images/love/10.jpg" />
                    </div>
                </div>
                <div class="left">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="right">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="boxHandsInput">
                <div class="handsCatImgInput">
                    <img src="~/images/handsCat.png" alt="">
                </div>
                <input type="text" id="inputField" placeholder="Nhập tên..." readonly>
            </div>
            <div class="buttonLove">
                <div class="cricleBtn"></div>
                <div class="button"></div>
            </div>
        </div>
        <div class="boxLine">
            <div class="boxCar">
                <img src="~/images/car.gif" alt="">
            </div>
            <div class="boxHeart">
                <div class="heart1"></div>
                <div class="heart2"></div>
                <div class="heart3"></div>
                <div class="heart4"></div>
                <div class="heart5"></div>
                <div class="heart6"></div>
            </div>
            <div class="ground-line">
                <div>
                    <span class="line1"></span>
                    <span class="line2"></span>
                    <span class="line3"></span>
                    <span class="line4"></span>
                    <span class="line5"></span>
                    <span class="line1"></span>
                    <span class="line2"></span>
                    <span class="line3"></span>
                    <span class="line4"></span>
                    <span class="line5"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="loadingLove">
        <div class="rhombus">
            <div class="circle1"></div>
            <div class="circle2"></div>
        </div>
    </div>

    <div class="wrapperLetterForm">
        <div class="boxLetter">
            <i class="fa-solid fa-xmark"></i>
            <div class="formLetter">
                <div class="heartLetter">
                    <div class="heartLetterItem"></div>
                </div>
                <div class="heartLetter">
                    <div class="heartLetterItem"></div>
                </div>

                <div class="wrapperLetter">
                    <div class="giftbox">
                        <div class="img">
                            <img src="~/images/giftbox.png" alt="">
                        </div>
                    </div>
                    <div class="textLetter">
                        <h2></h2>
                        <p class="contentLetter"></p>
                        <div class="heartAnimation">
                            <img src="~/images/heartAnimation.gif" alt="">
                        </div>
                    </div>
                    <div class="mewmew1">
                        <img src="~/images/mewmew.gif" alt="">
                    </div>
                    <div class="mewmew2">
                        <img src="~/images/mewmew.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="before"></div>
        </div>
    </div>
</body>
</html>
<script src="~/js/poster-page/poster.js"></script>